<template>
    <div>
        <h1>Quiz Game Extraordinaire!</h1>
        <button id="btnStart" @click="startGame">Start the game!</button>
    </div>
</template>





<script>
export default {
    name: 'game-menu',
    methods: {
        startGame() {
            this.$router.push({path: '/GamePlay'})
        }
    }


}
</script>

<style scoped>
div {
    margin-top: 50px;
}

button {
    margin-top: 50px;
    width: 50%;
    height: 200px;
    font-size: 50px;
}

button:hover {
    background-color: black;
    color: white;
}


</style>