<template>
    <div>
        <h1>Completed!</h1>
        <p>You got {{correct}} of 10 questions correct!</p>
        <h4>Total Score: {{points}}</h4>

        <button v-on:click="restart()">Try Again</button>

        <quiz-result v-for="(userData, index) of answer" :key="index" v-bind:user-data="userData" />
    </div>
</template>



<script>
import QuizResult from '../components/QuizResult';

export default {
    name: 'game-over',
    components: {
        QuizResult
    },

    methods: {
        restart: function() {
            this.$router.push({path: '/'});
        }
    },
    data() {
        return {
            answer: this.$route.params.answers,
            correct: this.$route.params.correct,
            points: this.$route.params.points
        }
    }
}

</script>



<style>

</style>