<template>
    <div>
        <h1>QUESTIONS:</h1>
      <quiz-question v-for="(question, index) in questions" :key="index"
      v-bind:questions="question"
      v-show="index === currentQuestion"
      v-on:question-clicked="handleAnswers" />
    </div>
</template>

<script>
import QuizQuestion from '../components/QuizQuestion';
import axios from 'axios';



export default {
    name: 'game-play',
    components: {
        QuizQuestion
    },
    
    created() {
        axios.get('https://opentdb.com/api.php?amount=10')
            .then(resp => resp.data)
            .then(resp => {
                this.questions = resp.results
            });
    },
    data() {
        return {
            questions: [],
            currentQuestion: 0,

            answers: [],

            totalCorrect: 0,
            totalPoints: 0,
        }
    },
    methods: {
        handleAnswers: function(points, correctAnswers, qCategory, question, clickedAnswer, qCorrect) {
            this.totalPoints = this.totalPoints + points;
            this.totalCorrect = this.totalCorrect + correctAnswers;

            let userData = {
                uCategory: qCategory,
                uQuestion: question,
                uCorrect: qCorrect,
                uAnswer: clickedAnswer
            };

            this.answers.push(userData);
            

            if ((this.currentQuestion +1) == (this.questions.length)) {
                //this.$router.push({path: 'GameOver'})
                let points = this.totalPoints;
                let correct = this.totalCorrect;
                let answers = this.answers;
                
                this.$router.replace({ name: 'game-over', params: {points, correct, answers}});
            }
            else {
                this.currentQuestion++;
            }
        }
    }

}
</script>


<style scoped>


</style>