<template>
  <div id="container">
      <p id="question" v-html="userData.uQuestion"></p>
      <blockquote>The Correct Answer: <span v-html="userData.uCorrect"/></blockquote>
      <blockquote>Your answer: <span id="userAnswer" v-html="userData.uAnswer" /></blockquote>
  </div>
</template>



<script>
export default {
    name: 'quiz-result',
    props: {
        userData: {
            required: true,
            type: Object
        }
    },

    // This was an attempt to make the correct answers green and the wrong answers red.
/*    created() {
            if(this.userData.uAnswer === this.userData.uCorrect) {
                document.querySelector("#userAnswer").style.color="green";
            }
            else {
                document.querySelector("#userAnswer").style.color="red";
            }
    }
*/
}
</script>



<style scoped>
#container {
    width: 70%;
    margin: auto;
    text-align: center;
    border-style: solid;
    padding: 10px;
    margin-top: 10px;
}

#question {
    font-weight: bold;
}

</style>