<template>
    <div class="container">
        <tbody>
            <p id="question" v-html="questions.question"></p>
            <div v-for="(answer, index) of answers" :key="index" v-bind:value="answer">
                <button v-html="answer" v-on:click="onClick(index)"></button>
            </div> 
        </tbody>
    </div>
</template>

<script>
export default {
    name: 'quiz-question',
    props: {
        questions:
        {
            required: true,
            type: Object
        }
    },
    computed: {
        answers() {
            let answers = [...this.questions.incorrect_answers, this.questions.correct_answer];
            answers.sort(() => Math.random() - 0.5);
            return answers;
        }
    },
    methods: {
        onClick: function(index) {
            
            let clickedAnswer = this.answers[index];
            let qCorrect = this.questions.correct_answer;

            let qCategory = this.questions.category;
            let question = this.questions.question;

            let points;
            let correctAnswers;

            if (clickedAnswer === qCorrect) {
                points = 10;
                correctAnswers = 1;
            }
            else {
                points = 0;
                correctAnswers = 0;
            }

            this.$emit('question-clicked', points, correctAnswers, qCategory, question, clickedAnswer, qCorrect); // ??? Whatever data you want to send back to the Parent (GamePlay.vue)
        }
    }
}

</script>

<style scoped>
.container {
    margin: auto;
    width: 100%;
    text-align: center;
}

tbody {
    display: inline-block;
    width: 50%;
}

#question {
    height: 20px;
}

button {
    margin: auto;
    margin-top: 10px;
    width: 50%;
    background-color: gray; 
}

button:hover {
    background-color: white;
}

</style>